@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
	font-family: 'Raleway', sans-serif;
}

input {
	outline: none;
}

.btn-white {
	outline: none;
	border: none;
	background-color: #F5F7FB;
}
.btn-blue {
	outline: none;
	border: none;
	background-color: #C2E7FF;
}
.btn-green {
	outline: none;
	border: none;
	background-color: #C4EED0;
}
.btn-lavender {
	outline: none;
	border: none;
	background-color: #D3E3FD;
}

.key:hover {
	filter: brightness(95%);
}
.key:active {
	filter: brightness(90%);
}